*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Noto sans-serif;
    font-size: 18px;
    color: #222;
}
/* header */
#header{
     min-width: 1400px;
    overflow: hidden;
    width: 1280px;
    height: 70px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 20px;
}
#header h1 img{
    margin: 36px;
}
.gnb{
    display: flex;
}
.gnb li{
    display: block;
    text-align: center;
    padding: 30px 30px 10px ;
}
/* 호버시 */
.gnb li.on {
  border-bottom: 3px solid #e3051b;
}

.gnb:hover li.on {
  border-bottom: none;
}
.gnb li.off:hover{
  border-bottom: none;
}
/* hover된 li에만 밑줄 표시 */
.gnb li:hover {
  border-bottom: 3px solid #e3051b;
}
.id{
    display: flex;
   font-size: 14px;
}
.id>li{
    display: block;
    margin: 40px 10px;
}
/* 호버시 */
.id>li:hover ,.on{
    color: #e3051b;
}
/* gnb_wrap */
#gnb_wrap{
     min-width: 1400px;
    overflow: hidden;
    height: 300px;
    background-color: #f5f5f5;
    border-top: 2px solid #eee;
}
.sub_wrap{
    width: 1280px;
    margin:0px auto;
}
.sub{
    display: flex;
    float: right;
    font-size: 14px;
    color: #555555;
    margin: 20px;
}
.sub li{
    display: block;
    padding: 5px;
}
.sub li img{
    margin-top: 2px;
}
/* title 마켓오/gnb */
.title{
    width: 1280px;
    margin: 0px auto;
}
.title h1{
    margin-top: 85px;
    display: block;
    text-align: center;
    font-size: 60px;
}
.title_list{
    display: flex;
   justify-content: center;
   margin-top: 30px;
}
.title_list li{
    display: block;
   margin: 0px 15px;
}
.title_list li.red{
    font-weight: 400 ;
    color: #e3051b;
    border-bottom: 2px solid #e3051b ;
}
#main_wrap{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#main_left{
    width: 400px;
    line-height: 1.8;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 800px;
    
}
#main_left img{
    display: block;
    width: 400px;
    text-align: center;
}
#text{
    width: 400px;
    margin: 20px 0px 10px;
    border-top: 2px solid #222;
    border-bottom:  1px solid #ddd;
    padding: 20px 0px;
    box-sizing: border-box;
    float: left;
}
.text_sub1{
    float: left;
}
.text_sub1 li{
    display: block;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}
.text_sub2{
    float: left;
    margin-left: 80px;
}
.text_sub2 li{
    display: block;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}
#main_left p {
    font-size: 14px;
    color: #555555;
  clear: both;
}
#main_right{
    width: 800px;
}
#main_right h1{
    width: 800px;
    
    margin: 60px 0px;
    padding-bottom: 20px;
   border-bottom: 3px solid #222;
   box-sizing: border-box;
}
#main_right img{
    width: 800px;
    display: block;
     margin: 0px auto;
}
#footer_wrap{
margin-top: 200px;
padding: 30px 50px 10px;
background-color: #222;
color: #acacac;  
font-size: 14px; 
box-sizing: border-box;
}
#footer_wrap img{
    width: 200px;
}
#footer_gnb{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #555555;
    margin: 0px auto;
    padding-bottom: 40px;
}
#footer_gnb img{
    width: 135px;
    height: 29px;
    padding: 20px;
}
.footer{
    margin-top: 20px;
font-size: 16px; 
}
.footer li{
    display: flex;
}
.footer li p{
    padding-right: 30px
}
.footer li p span{
    color: #555555;
    padding-right: 30px;
    margin-right: -20px
}
.right{
    display: flex;
}
.right li{
    margin-top: 20px;
     color: #555555;
    padding-left: 20px;
}
.right li.color{
    color: #acacac;
}
.c{
    text-align: center;
    margin-top: 50px;
    color: #555555;
}
#top_button{
     cursor: pointer;
    transition: opacity 0.3s ease;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#top_button:hover{
opacity: 100%;
}